<div class="card mb-4">
    {% if property.imageName %}
        <!--<img src="images/properties/{#{{ property.imageName }}#}"  alt="card-img-top" style="width: 100% ; height: auto">-->
        <img src="{{ vich_uploader_asset(property, 'imageFile') }}"  alt="card-img-top" style="width: 100% ; height: auto">
    {% else %}
        <img src="images/properties/empty_image.jpeg"  alt="card-img-top" style="width: 100% ; height: auto">
    {% endif %}    
    <div class="card-body">
        <h5 class="card-title"> 
            <a href="{{ path('show', { 'id': property.id, 'slug' : property.slug })}}">  {{ property.titre }} </a>
        </h5> 
        <p class="card-text"> {{ property.description|nl2br }} </p>
        <p class="card-text"> {{ property.city }} - {{ property.postalCode }}</p>
        <p class="text-primary" style="font-size: 2rem; font-weight: bold"> {{ property.formatedPrice  }} €</p>
    </div> 
</div> 