{% extends "base.html.twig"%}

{% block title "Voire nos bien" %}

    {% block body %}
        
        <div class="jumbotron"> 
            <div class="container"> 
                
                {% if not  form.vars.valid %}
                    <div class="alert alert-danger"> 
                        <p> vous devez remplir tout les champs </p>
                    <div>    
                    
                {% endif %}    
                <div class='row'>
                <div class='col-md-8'>
                        {% if property.imageName %}
                            <!--<img src="images/properties/{#{{ property.imageName }}#}"  alt="card-img-top" style="width: 100% ; height: auto">-->
                            <img src="{{ vich_uploader_asset(property, 'imageFile') }}"  alt="card-img-top" style="width: 100% ; height: auto">
                        {% else %}
                            <img src="/images/properties/empty_image.jpeg"  alt="card-img-top" style="width: 80% ; height: auto">
                        {% endif %}

                </div>
                <div class='col-md-4'>
                    <h1>  {{  property.titre }}</h1>
                    <h2>  {{  property.rooms }} pièces - {{  property.surface }} m2</h2>
                    <div class="text-primary" style="font-size: 4em; font-weight: bold"> {{ property.formatedPrice  }} €</div>

                    <a class="btn btn-primary"> Contacter l'agence </a>
                   
                    <div id="contactForm" class="mt-4"> 
                        {#{{ form_start(form, {'action': path('show', { 'id': property.id, 'slug' : property.slug }), 'method': 'POST'}) }}#}
                        {{ form_start(form) }}
                        <div class='row'>
                            <div class="col"> {{ form_row(form.firstname) }}</div>
                            <div class="col"> {{ form_row(form.lastname) }}</div>
                        </div>
                        <div class='row'>
                            <div class="col"> {{ form_row(form.phone) }}</div>
                            <div class="col"> {{ form_row(form.email) }}</div>
                        </div> 
                            
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                      
                </div>
            </div>  
            </div>
        </div>
        
        <div class="container mt-4"> 
            <p> {{  property.description|nl2br }} </p>
            <div class='row'>
                <div class='col-md-8'>
                    <h2> Caractéristique </h2>
                    <table class="table table-striped">
                        <tr>
                            <td> Surface habitable</td>
                            <td>{{  property.surface }}</td> 
                        </tr>
                        <tr>
                            <td>Pièces</td>
                            <td>{{  property.rooms }}</td> 
                        </tr>
                        <tr>
                            <td>Etage </td>
                            <td>{{  property.floor }}</td> 
                        </tr>
                        <tr>
                            <td>Chaffage</td>
                            <td> {{  property.getHeatType() }}</td> 
                        </tr>
                    </table>    
                </div>
                <div class='col-md-4'>
                    <h2> Spécifités: </h2>
                    <ul clas= "list-group">
                        {% for option in property.options %}
                            
                            <li class="list-group-item"> {{ option.name }}</li>
                            
                        {% endfor %}    
                     
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
