{% extends "base.html.twig"%}

{% block title "gérer les bien" %}

    {% block body %}
        <div class="jumbotron text-center"> 
            <h1>  Mon agence</h1>
            <p>  Bonjour je suis sur Symfony4 </p>
        </div>

        <div class="container mt-4"> 
            <h1> Gérer les options:</h1>
            
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for option in options %}
                        <tr>
                            <td>{{ option.name }}</td>
                            <td> 
                                <a href="{{ path('option_admin_edit', {'id': option.id })}}" class="btn btn-secondary"> Edit</a>
                                <a href="{{ path('option_admin_delete', {'id': option.id })}}"  class="btn btn-danger"> Supprimer</a>
                            
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
                
                <div class="text-right"> 
                    <a href="{{ path('option_admin_new') }}" class="btn btn-primary"> Ajouter une option </a>
                </div>  



        </div>

    {% endblock %}
